{
  "name": "multus-cni-network",
  "type": "multus",
  "delegates": [
    {
      "type": "flannel",
      "name": "flannel.1",
      "delegate": {
        "isDefaultGateway": true,
        "hairpinMode": true
      }
    },
    {
        "name": "sriov.1",
        "type": "sriov",
        "if0": "ib0",
        "ipam": {
          "type": "host-local",
          "ranges": [
            [
              {
                "subnet": "{{ k8s_cni_multus_sriov_cidr }}",
                "rangeStart": "{{ "{{ lookup('csvfile','{{ inventory_hostname }} file=../files/multus-sriov-dhcp.csv delimiter=, col=4  default=NOMATCH') }}" }}",
                "rangeEnd": "{{ lookup('csvfile','{{ inventory_hostname }} file=../files/multus-sriov-dhcp.csv delimiter=, col=5  default=NOMATCH') }}",
                "gateway": "{{ k8s_cni_multus_sriov_default_gateway }}"
              }
            ]
          ],
          "routes": [
            { "dst": "0.0.0.0/0" },
            { "dst": "192.168.0.0/24", "gw": "{{ k8s_cni_multus_sriov_default_gateway }}" }
          ]
        }
    }
  ]
}
