{
  "exec-opts": ["{{ docker_exec_opts }}"],
  "data-root": "{{ docker_data_root }}",
  "storage-driver": "{{ docker_storage_driver }}",
  "insecure-registries": ["{{ docker_insecure_registries }}"]
}
